In [4]:
import pandas as pd

df_pbp = pd.read_csv("pbp_pacers.csv")
df_chart = pd.read_csv("chart_pacers.csv")

In [5]:
df_pbp.head()

,gameId,actionNumber,teamId,teamTricode,personId,playerNameI,xLegacy,yLegacy,shotDistance,shotResult,isFieldGoal,scoreHome,scoreAway,location,actionType,subType,shotValue,actionId,scoreDiff,clutchFlag
0,22401172,7,1610612753,ORL,202709,C. Joseph,227,21,0,0,1,0.0,0.0,v,Missed Shot,Jump Shot,3,3,0.0,0
1,22401172,9,1610612753,ORL,1629048,G. Bitadze,7,-11,1,1,1,0.0,2.0,v,Made Shot,Alley Oop Dunk Shot,2,5,0.0,0
2,22401172,11,1610612754,IND,1630167,O. Toppin,-86,46,10,1,1,2.0,2.0,h,Made Shot,Driving Floating Bank Jump Shot,2,6,-2.0,0
3,22401172,12,1610612753,ORL,203914,G. Harris,108,256,28,0,1,2.0,2.0,v,Missed Shot,Jump Shot,3,7,0.0,0
4,22401172,14,1610612754,IND,1631097,B. Mathurin,71,270,28,0,1,2.0,2.0,h,Missed Shot,Pullup Jump shot,3,9,0.0,0

In [6]:
df_chart.head()

,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,EVENT_TYPE,ACTION_TYPE,SHOT_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,ZONE_FG_PCT
0,22400003,680,202709,Cory Joseph,1610612753,Missed Shot,Jump Shot,3PT Field Goal,Backcourt,Back Court(BC),Back Court Shot,57,165,551,1,0,0.023
1,22400352,337,1629048,Goga Bitadze,1610612753,Missed Shot,Pullup Jump shot,3PT Field Goal,Backcourt,Back Court(BC),Back Court Shot,44,78,435,1,0,0.023
2,22400029,499,1630167,Obi Toppin,1610612754,Missed Shot,Jump Shot,3PT Field Goal,Backcourt,Back Court(BC),Back Court Shot,64,164,621,1,0,0.023
3,22400349,151,1630167,Obi Toppin,1610612754,Missed Shot,Pullup Jump shot,3PT Field Goal,Backcourt,Back Court(BC),Back Court Shot,44,-25,449,1,0,0.023
4,22400525,332,1630167,Obi Toppin,1610612754,Missed Shot,Pullup Jump shot,3PT Field Goal,Backcourt,Back Court(BC),Back Court Shot,76,-174,740,1,0,0.023

In [7]:
df_pbp.shape

(14464, 20)

In [8]:
df_chart.shape

(205043, 17)

In [11]:
df_final = pd.merge(df_pbp, df_chart, how="inner", left_on=["gameId", "actionNumber", "personId"], right_on=["GAME_ID", "GAME_EVENT_ID", "PLAYER_ID"])
# df_chart = df_chart.drop(columns=["PLAYER_ID"])
df_final.shape

(14464, 37)

In [10]:
df_final.columns

Index(['gameId', 'actionNumber', 'teamId', 'teamTricode', 'personId',
       'playerNameI', 'xLegacy', 'yLegacy', 'shotDistance', 'shotResult',
       'isFieldGoal', 'scoreHome', 'scoreAway', 'location', 'actionType',
       'subType', 'shotValue', 'actionId', 'scoreDiff', 'clutchFlag',
       'GAME_ID', 'GAME_EVENT_ID', 'PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID',
       'EVENT_TYPE', 'ACTION_TYPE', 'SHOT_TYPE', 'SHOT_ZONE_BASIC',
       'SHOT_ZONE_AREA', 'SHOT_ZONE_RANGE', 'SHOT_DISTANCE', 'LOC_X', 'LOC_Y',
       'SHOT_ATTEMPTED_FLAG', 'SHOT_MADE_FLAG', 'ZONE_FG_PCT'],
      dtype='object')

In [20]:
(df_final["shotResult"] == df_final["SHOT_MADE_FLAG"]).all()

True

In [19]:
df_final[df_final["shotDistance"] != df_final["SHOT_DISTANCE"]][["shotDistance", "SHOT_DISTANCE"]].head()

   shotDistance  SHOT_DISTANCE
0             0             22
2            10              9
3            28             27
4            28             27
5             2              1

In [21]:
df_final["SHOT_ATTEMPTED_FLAG"].value_counts()

1    14464
Name: SHOT_ATTEMPTED_FLAG, dtype: int64

In [23]:
df_final.drop(columns=['gameId', 'actionNumber', 'teamId', 'teamTricode', 'personId',
       'playerNameI', 'xLegacy', 'yLegacy', 'shotDistance', 'shotResult',
       'isFieldGoal', 'scoreHome', 'scoreAway', 'location', 'actionType',
       'subType', 'EVENT_TYPE', 'SHOT_TYPE', 'SHOT_ATTEMPTED_FLAG'], inplace=True)

In [25]:
df_final.rename(columns={"shotValue": "SHOT_VALUE", "actionId": "ACTION_ID", "scoreDiff": "SCORE_DIFF", "clutchFlag": "CLUTCH_FLAG"}, inplace=True)

In [26]:
df_final.head()

,SHOT_VALUE,ACTION_ID,SCORE_DIFF,CLUTCH_FLAG,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,EVENT_TYPE,ACTION_TYPE,SHOT_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_MADE_FLAG,ZONE_FG_PCT
0,3,3,0.0,0,22401172,7,202709,Cory Joseph,1610612753,Missed Shot,Jump Shot,3PT Field Goal,Right Corner 3,Right Side(R),24+ ft.,22,227,21,0,0.390
1,2,5,0.0,0,22401172,9,1629048,Goga Bitadze,1610612753,Made Shot,Alley Oop Dunk Shot,2PT Field Goal,Restricted Area,Center(C),Less Than 8 ft.,1,7,-11,1,0.664
2,2,6,-2.0,0,22401172,11,1630167,Obi Toppin,1610612754,Made Shot,Driving Floating Bank Jump Shot,2PT Field Goal,Mid-Range,Left Side(L),8-16 ft.,9,-86,46,1,0.422
3,3,7,0.0,0,22401172,12,203914,Gary Harris,1610612753,Missed Shot,Jump Shot,3PT Field Goal,Above the Break 3,Right Side Center(RC),24+ ft.,27,108,256,0,0.352
4,3,9,0.0,0,22401172,14,1631097,Bennedict Mathurin,1610612754,Missed Shot,Pullup Jump shot,3PT Field Goal,Above the Break 3,Center(C),24+ ft.,27,71,270,0,0.349

In [27]:
df_final.to_csv("final_pacers.csv", index=False)

Simple version player shooting PCTG.

In [28]:
df_final = pd.read_csv("final_pacers.csv")

In [40]:
df_profiles = pd.read_csv("../player_profiles24.csv")

In [41]:
df_profiles.drop(columns=["SEASON_ID", "GP", "MIN", "FGM", "FGA", "FG3M", "FG3A"], inplace=True)

In [30]:
df_final.shape

(14464, 20)

In [44]:
df_final = pd.merge(df_final, df_profiles, how="inner", on="PLAYER_ID")
df_final.shape

(14403, 22)

In [45]:
df_final.head()

,SHOT_VALUE,ACTION_ID,SCORE_DIFF,CLUTCH_FLAG,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,EVENT_TYPE,...,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_MADE_FLAG,ZONE_FG_PCT,FG_PCT,FG3_PCT
0,3,3,0.0,0,22401172,7,202709,Cory Joseph,1610612753,Missed Shot,...,Right Corner 3,Right Side(R),24+ ft.,22,227,21,0,0.390,0.385,0.35
1,2,20,-1.0,0,22401172,27,202709,Cory Joseph,1610612753,Made Shot,...,Restricted Area,Center(C),Less Than 8 ft.,2,-16,21,1,0.664,0.385,0.35
2,2,5,0.0,0,22401172,9,1629048,Goga Bitadze,1610612753,Made Shot,...,Restricted Area,Center(C),Less Than 8 ft.,1,7,-11,1,0.664,0.624,0.13
3,3,14,0.0,0,22401172,19,1629048,Goga Bitadze,1610612753,Missed Shot,...,Above the Break 3,Center(C),24+ ft.,26,1,268,0,0.349,0.624,0.13
4,2,46,2.0,0,22401172,63,1629048,Goga Bitadze,1610612753,Made Shot,...,In The Paint (Non-RA),Center(C),Less Than 8 ft.,5,48,31,1,0.439,0.624,0.13

In [46]:
df_final.to_csv("final_pacers.csv", index=False)